#!name = 快捷搜索
#!desc = 为Safari提供快速切换# g = 谷歌搜索，bg = 百度图片搜索，gg = 谷歌图片搜索，b = Bing搜索，wk = 维基搜索，qm = 七麦搜索，gh = GitHub搜索，无快捷键则默认使用百度搜索
#!openUrl = https://github.com/sunshine970918/RemoveAds
#!author = sunshine970918[https://github.com/sunshine970918/RemoveAds]
#!homepage = https://github.com/sunshine970918/RemoveAds
#!icon = https://gitlab.com/lodepuly/iconlibrary/-/raw/main/App_icon/120px/Safari.png
#!date = 2024-08-22 22:48:55

# Safari内输入快捷键+空格+搜索关键词快速指定搜索引擎搜索
# 先进入设置更改Safari默认搜索为DuckDuckGo

^https:\/\/duckduckgo\.com\/\?q=g\+([^+]+).+ url 302 https://www.google.com/search?q=$1
^https:\/\/duckduckgo\.com\/\?q=bg\+([^+]+).+ url 302 https://image.baidu.com/search/index?tn=baiduimage&word=$1
^https:\/\/duckduckgo\.com\/\?q=gg\+([^+]+).+ url 302 https://www.google.com/search?&tbm=isch&q=$1
^https:\/\/duckduckgo\.com\/\?q=b\+([^+]+).+ url 302 https://www.bing.com/search?q=$1
^https:\/\/duckduckgo\.com\/\?q=wk\+([^+]+).+ url 302 https://zh.wikipedia.org/wiki/$1
^https:\/\/duckduckgo\.com\/\?q=qm\+([^+]+).+ url 302 https://www.qimai.cn/search/index/country/cn/search/$1
^https:\/\/duckduckgo\.com\/\?q=gh\+([^+]+).+ url 302 https://github.com/search?q=$1
^https:\/\/duckduckgo\.com\/\?q=([^+]+).+ url 302 https://m.baidu.com/s?wd=$1

hostname = duckduckgo.com
